.ir{
  background-color:transparent;
  border:0;
  overflow:hidden;
  *text-indent: -9999px;
}
.ir:before{
  content:"";
  display:block;
  Width:0;
  height: 150%;
}
.flex{
  display:flex;
  flex-wrap: wrap;
}
 /* ---  Styles --- */
 a, a:hover {
   color:inherit;
 }

body
{
  background: #101010;
  color: #eee;
  font-family: 'Work Sans', sans-serif;
}
#wrap{
  omax-width:1200px;
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  margin: 5px auto;
}

.btn-pw{
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
  padding: 3px 5%;
  font-size: 16px;
  color: #101010;
  background-color: #00E061;
  border-radius:4px;
  z-index:3;
  border: 2px solid #00E061;
}
.btn-pw:hover{
  background-color: #101010;
  font-weight: bold;
  transition: 0.5s ease;
  color:#00E061;
  border: 2px solid #00E061;
}

#margen{
  width: 50px;
}

#en
{
  font-weight: bold;
  font-style: italic;
}
#lang
{
  font-size: 12px;
  display: flex;
  margin-top: 10px;
  margin-left: 3%;
  width: 30%;
  z-index:3;
}
#lang div
{
  text-align: center;
  width: 35px;
}
#logo
{
  display: block;
  background-image: url("../img/logo_large.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 50px;
  height: 60px;
}

#particles-js{
  height:99%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.carousel{
  z-index: -4;
  /*width: 95%;
  margin-right: 25px;*/
  padding:0;
  }

main{
  border:1px solid yellow;
  margin: 40px;
  padding:0 !important;
}

@media screen and (max-width: 699px){
#logo
{
  display: block;
  background-image: url("../img/logopwrf.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 33px;
  margin:0 auto;
  position:absolute;
  top: 40px;
  left: 45%;
}
.btn-pw{
  padding: 2px 35px;
  font-size: 12px;
}
}
